:root{
    --bg-img:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d79b00' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    --Bg-yellow:#FCBB15;
    --white: #ffff;
    --fs-h1:clamp(2rem, 0.924vw + 1.761rem, 2.5rem);
    --fs-h2:clamp(0.625rem, 0.924vw + 0.386rem, 1.125rem);
    --fs-480:clamp(15.625rem, 26.559vw + 8.753rem, 30rem);
    --transition: all 0.3s linear;
    --test-h1:clamp(1.5rem, 0.924vw + 1.261rem, 2rem);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--Bg-yellow);
}



 /* neutral style */

ul{
    display: inline;
}

li{
    display: inline;
}

header{
    padding: 0 10vw;
    height: fit-content;
    margin-bottom: 5rem;
}

a{
    text-decoration: none;
    color: white;
}
button{
    background: none;
    border: none;
}
h1{
    font-size: var(--test-h1);
}
/*end of neutral style */

/* nav bar */
.nav-bar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    
}

nav{
    background: black;
    width: 60vw;
    margin: 35px auto;
    padding: 0 25px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.name{
    display: flex;
    align-items:center;
}
.name h2 a{
    color: #5c3939;
}

.nav-center{
    display: flex;
    align-items: center;
}

.nav-center li{
    margin: 0px 0.74vw;
}

#menu-icon{
    display: none;
}


/* end of nav */

/* hero-page */
.hero{
    width: 100%;
    height: fit-content;
    margin-top: 10rem;
    display: grid;
    place-items: center;
    grid-template-columns: 40% 60%;
    
}

.hero-title{
    height: fit-content;
    margin-left: 1.48vw;
}

.hero-title h1{
    margin: 25px 0;
    font-size: var(--test-h1);
}

.hero-title p{
    margin-bottom:50px;
    font-size: 1.5rem;
}

.talk button{
    font-size: 1.5rem;
    border-radius: 25px;
    padding: 5px;
}
.hero-logo{
    position: relative;
    display: grid;
    place-items: center;
}

.hero-pic{
    position: absolute;
    width: 35vw;
    min-width: 300px;
    left: 100px;
}

#blobSvg{
    width: clamp(18.75rem, 23.095vw + 12.774rem, 31.25rem);
    z-index: -1;
}

/* end of hero-page */
main{
    padding: 0 10vw;
    width: 100%;
}
/* service page */

.service{
    height: fit-content;
    margin-bottom: 5rem;
    
}

.head{
    position: relative;
    width: 80vw;
    height: 10rem;
    
} 
.head h1{
    text-align: center;
}
.starp{
    background-color:#92E3A9;
    width: 70vw;
    height: 5rem;
    right:0;
    /* margin-top: 25px; */
    rotate: 177deg;
    position: absolute;
    z-index: -1;

    
}

.other{
    background-color:#789124;
    left:15%;
    top: 30%;
    /* transition: var(--transition); */
    rotate: 180deg;
}
.service-body{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}
.serbox{
    width: clamp(12.5rem, 23.095vw + 6.524rem, 25rem);;
    height: 400px;
    background: black;
    margin: 20px;
    color: #ffff;
    border-radius: 25px;
    padding: 0 25px;
}
/* end of service page  */
/* about page */
.about{
    height: fit-content;
    margin-bottom: 5rem;
    padding: 0 ;
    
}
.about-body{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,100px);
}

.aboutbox{
    position: relative;
    height: fit-content;
    padding: 1rem;
    border-radius: 25px;
    z-index: -4;
}
.box-0{
    grid-column: 1/5;
    grid-row: 1/4;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(252,187,21,1) 0%, rgba(127,178,76,1) 50%, rgba(43,198,137,1) 100%);
}
.aboutbox img{
    position: absolute;
    z-index: -1;
}
.box-0 img:nth-of-type(1){
    left: 10px;
    width:30%;
    top: 50px;
}
.box-0 img:nth-of-type(2){
    left:230px;
    width: 15%;
    z-index: -3;
}
.box-0 img:nth-of-type(3){
    width: 25%;
    right: 100px;
    top: 50px;
}
.box-0 h3{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.aboutbox p{
    font-size: 1.5rem;
    line-height: 2rem;
}

.box-1{
    grid-column: 1/3;
    grid-row: 4/10;
    height: 100%;
    background: linear-gradient(180deg, rgba(41,199,139,1) 0%, rgba(12,86,64,1) 83%, rgba(6,65,50,1) 100%);
    overflow: hidden;
    
}
.box-1 img:nth-of-type(1){
    left: 0;
    width: 100%;
    bottom: 15%;
}
.box-1 img:nth-of-type(2){
    left: 0;
    width: 100%;
    bottom: 15%;
}
.box-1 h1{
    /* font-size: 2rem; */
}
.box-1 p{
    margin-top: 20px;
}
.box-2{
    grid-column: 3/5;
    grid-row: 4/7;
    height: 100%;
    background: linear-gradient(180deg, rgba(41,199,139,1) 0%, rgba(12,131,99,1) 100%);
    
}
.box-2 h1{
    font-size: 3rem;
    text-align: right;
}
.box-2 img:nth-of-type(1){
    width: 50%;
    bottom: 0;
}
.box-3{
    grid-column: 3/5;
    grid-row: 7/10;
    height: 100%;
    background: linear-gradient(180deg, rgba(12,131,99,1) 0%, rgba(8,87,66,1) 63%, rgba(6,65,50,1) 100%);
    
}
.box-3 img:nth-of-type(1){
    width: 100%;
    bottom: 30%;
    left: 0;
}
.box-4{
    grid-column: 1/5;
    grid-row: 10/11;
    height: 100%;
    background: linear-gradient(180deg, rgba(6,65,50,1) 0%, rgba(4,39,30,1) 100%);
    overflow: hidden;
}
.box-4 p{
    overflow: hidden;
}
/* end of about page */
/* pricing page */
.pricing{
    margin-bottom: 10rem;
    overflow-x:scroll;
}
.pricing-body{
    width:fit-content;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.priceslide{
    min-width: 300px; 
    color:white;
    background: black;
    border-radius: 20px;
    height: 400px;
    padding: 20px;
}
.slideheader{
    width: 100%;
    height: 30%;

}
.slideheader h3{
    font-size: 2rem;
    text-align: center;
}
.priceslide :nth-of-type(2){
    width: 100%;
    height: 2px;
    background: rgb(58, 57, 57);
    margin: 15px;
}
.priceslide :nth-of-type(3){
    font-size: 1.2rem;
}
/* pricing page end */
/* content page */
.content{
    margin-bottom: 5rem;
    
}
.ctn-body{
    width: 100%;
    display: grid;
    gap: 25px;
    grid-template-columns: 55% 45%;
}
.slide{
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 500px;
    transition: var(--transition);
}
.slide:hover{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
.ctnbox{
   
    
}
.sobox{
   
}


/* media query */

/* first sage */
@media (max-width:992px){

    .nav-center li{
        font-size: 0.8rem;
    }
}

/* second sage */
@media (max-width:768px){
    /* nav bar */
    nav{
        flex-direction: column;
        justify-content: start;
        padding: 10px 20px;
        overflow: hidden;
        height: 50px;
        transition: var(--transition);
    }
    .link-show{
        height: 200px;
    }
    .name{
        justify-content: space-between;
        height: 50px;
    }
    .nav-center{
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    .nav-center li{
        display: block;
        margin: 9px 0;
        text-align: center;
    }
    #menu-icon{
        display: inline;
        color: #ffff;
    }
    /* end of nav bar */
    /* service page */
    .service-body{
        grid-template-columns: none;
        grid-template-rows: auto;
    }
    /*end of service page */
    /* about page */
    .about-body{
        display:flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .box-2{
        height: 400px;
    }
    .box-3{
        height: 400px;
    }
}


/* final */
@media (max-width:600px){
    
    .hero{
        margin-top: 5rem;
        grid-template-columns: none;
        grid-template-rows: 60% 40%;
    }
    .hero-logo{
        order: -1;
        height: 200px;
        
    }
    .hero-pic{
        left: 10px;
    }
    #blobSvg{
        left: 50px;
    }
    .hero-title p{
        font-size: 1.2rem;
    }
    /* h1{
        font-size: 1.5rem;
    } */
    
}

/* end of media query */